div{
    border-radius:5px;
    }
    
    
#header{
    height:53px;
    width:100%;
    background-color:grey;
    position: relative;
    z-index:1;
    }
    
.left{
    float:left;
    height:90%;
    width:30%;
    background-color:black;
    padding:5px;
    /*margin:5px 5px 5px 5px;*/
    }
    
.right{
    float:right;
    position: relative;
    height:90%;
    width:70%;
    background-color:purple;
    }
    
#footer{
    clear:both;
    background-color:grey;
    height:70px;
    width:100%;
    }
    
#name{
    color:purple;
    margin-left: 25px;
	padding:1px;
	font-size: 24px;
	float:left;
    }
    
#img1{
    padding:5px; 
    margin-right:5px; 
    }
    
h1{
    margin-left:30px;
    font-size:25px;
    padding-top:40px;
    color:black;}
    
.edu{
    margin-left:27px;
    color:grey;
    font-size:15px;
    }
    
.con{
    margin-left:20px;
    color:purple;
    padding-top:5px;
    }
    
ul{
    font-size:20px;
    color:grey;}